.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  h1, p, h2, h3, ul {
    margin: 0;
    padding: 0;

  }
  a{
    text-decoration: none;
    
  }
 ul{
    list-style: none;
 }
  /* Body */
  body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }
  .container{
    width: 1600px;
    margin: 0 auto;
  }
  /* Header */
  .logo-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:black;
    text-decoration: none;
    }
    .web{
        color: #2196F3;
    }
    .nav-list{
        list-style-type:none;
     
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    

    }
    .nav-list a{
        text-decoration: none;
        color: black;
    }
    .nav-list a:hover{
        color: #2196F3;
    
    }
    .contact-list{
       font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        list-style-type:none;
    }
    .contact-list a{
        text-decoration: none;
        color: #757575;
    }
     .contact-list a:hover{
        color: #2196F3;
     }
     .header-right{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        width: 307px;
        display: flex;
        justify-content: space-between;
        
       
     }
     .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 281px;
     }
     .link{
        
         text-decoration: none;
        color: #757575;
     }
     .link:hover{
        color: #2196F3;
     }
     
     header{
        width: 1600px;
     }
     .header-wraper{
        width: 1200px;
        padding: 24px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
     }
     .header-left{
        display: flex;
        width: 520px;
        justify-content: space-between;
        align-items: center;
       
     }
     
     /* Hero */
     .hero{
        background: #2F303A;
        padding: 200px 0px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../images/overlayy.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

     }
     
     .hero-title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
     }
     
    

    .hero-btn{
       
        width: 216px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;

    }
   .hero-btn{
    margin: 0 auto;
    display: block;
   }


    /* Main */


.features-subtitles{
    
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: 0px 0px 10px;
    
}

.features-list{
   display: flex;
   justify-content: space-between;
   width: 1200px;
   margin: 0 auto;
   padding: 94px;
   
    
}
.features-list{
    list-style-type: none;
}
.features-paragraph{
   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
   


}

.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;

   

}
.work{
    padding-bottom: 90px;
}

.work-list{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
.team-section{
    background-color:  #F5F4FA;
    padding: 94px 0

}

.team-list{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
   
}
.team-header{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;


}
.team-picture{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
   
}
.team-list-item{
    background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
padding-bottom: 30px;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom:10px ;
    text-align: center;
    

}
.team-jobtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    

}
/* Footer */
 footer{
    background: #2F303A;
    width: 1600px;
    height: 252px;
    margin: 0 auto;
}

   .nav-list-footer{
        list-style-type:none;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
    }
    .nav-list-footer a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        display: flex;
        padding-bottom: 9px;
         padding-left: 215px;
    }
    .nav-list-footer a:hover{
        color: #2196F3;
    
    }
    .footer-address{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
        color: #FFFFFF;
        font-style: normal;
        display: flex;
        padding-bottom: 9px;
         padding-left: 215px;

    }
    
      .logo-link-footer{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 215px;
    }
    .web{
        color: #2196F3;
    }
    